section
  section
    h2 Nueva sintaxis en bucles for
    pre
      code(data-trim='', data-noescape='').
        Promise.resolve('Hola ES7!').then(::console.log);

section(data-run-in-terminal='utilidades/bindOperator/old-1.js')
section(data-run-in-terminal='utilidades/bindOperator/new-1.js')
section(data-run-in-terminal='utilidades/bindOperator/new-2.js')
