section
  section
    h2 Deconstrucciones
    pre
      code(data-trim='', data-noescape='').
        let argv = {
          uno: '1',
          dos: '2'
        }

        let { uno, dos } = argv

section(data-run-in-terminal='utilidades/deconstrucciones/old-1.js')
section(data-run-in-terminal='utilidades/deconstrucciones/new-1.js')
section(data-run-in-terminal='utilidades/deconstrucciones/old-2.js')
section(data-run-in-terminal='utilidades/deconstrucciones/new-2.js')
