section
  section
    h2 export
    pre
      code(data-trim='', data-noescape='').
        export default function chuchu () {
          // ...
        }
  
section
  pre
    code
      include ../code/importExport/export/ejemplo1/old.js

section(data-run-in-terminal='importExport/export/ejemplo1/old-importar.js')

section
  pre
    code
      include ../code/importExport/export/ejemplo1/new.js

section(data-run-in-terminal='importExport/export/ejemplo1/new-importar.js')
