section
  section
    h2 Nueva sintaxis en bucles for
    pre
      code(data-trim='', data-noescape='').
        for (let element of array) {
          console.log(element)
        }

section(data-run-in-terminal='utilidades/forLoops/old-1.js')
section(data-run-in-terminal='utilidades/forLoops/new-1.js')
section(data-run-in-terminal='utilidades/forLoops/new-2.js')
section(data-run-in-terminal='utilidades/forLoops/new-3.js')
section(data-run-in-terminal='utilidades/forLoops/new-4.js')
