section
  section
    h2 import
    pre
      code(data-trim='', data-noescape='').
        import {src, dest} from 'gulp'

section(data-run-in-terminal='importExport/import/old-1.js')
section(data-run-in-terminal='importExport/import/new-1.js' data-run-in-terminal-bin='babel-node')
section(data-run-in-terminal='importExport/import/new-2.js' data-run-in-terminal-bin='babel-node')
