extends helpers/layout.pug

block content
  section
    h1 #{title}
  include intro.pug
  include babel.pug
  include arrowFunctions.pug
  include deconstrucciones.pug
  include spreadOperator.pug
  include iterators.pug
  include forLoops.pug
  include bindOperator.pug
  include import.pug
  include export.pug
  include asyncAwait.pug
  include gulp.pug
  include express.pug
  section
    h1 Fin
