section
  section
    h2 Proceso de Introducción de Nuevas Características
    ul
      li stage-0 - Strawman
      li stage-1- Proposal
      li stage-2 - Draft
      li stage-3 - Candidate
      li stage-4 - Finished

  section
    h2 Verionado de V8
    ul
      li v5.5 (25/10/16)
      li v5.4 (9/9/16)
      li v5.3 (18/7/16)
      li v5.2 (4/6/16)
      li v5.1 (24/4/16)
  section
    h2 Versionado de Node.js
    ul
      li 7.1.0 -> 5.4
      li 6.8.1 -> 5.3
section(data-run-in-terminal='other/version.js')
  h2 ¿Que versión de V8 y Node.js tengo?
