section
  section
    h2 Iteradores
    pre
      code(data-trim='', data-noescape='').
        function* miFuncionIteradora(){
          yiled 'Hola!'
        }

section(data-run-in-terminal='utilidades/iterators/new-1.js')
section(data-run-in-terminal='utilidades/iterators/new-2.js')
